<div id="app">
    {{> header }}
    
    <main>

    </main>

    {{> footer }}
</div>
<script>
    const vue = new Vue({
        el: '#app',
        data: {
            page: 'perfil',
            quienes_somos: '',
            datos: {},
            session: {}
        },
        watch: {
            session(newVal, oldVal){
                if(this.session.rol != 'Administrador')
                    window.location.href = '/'
            }
        },
        mounted(){
            axios.get('/API/datos')
            .then(res => {
                this.datos = res.data
                this.datos.telefonoConFormato = format(this.datos.telefono, 'tel')
            }).catch(error => {
                console.error(error)
            })

            cargarSesion()
        }
    })
</script>