<div id="app">
    {{> header }}

    <div id="container_consultas">
        <div class="sombra contenido-centrado s5 ">
            <div class="contenido">
                <h3 class="text-center">Mantengase al tanto del progeso de su hijo/a!</h3>
                <br>
                <form id="buscador">
                    <input type="number" placeholder="Numero de Cedula" required>
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>

    {{> footer }}
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            page: 'consultas'
        },
        mounted(){
            document.querySelector('#buscador').addEventListener('submit', function(e){
                e.preventDefault()
                alert('Enviando')
            })
        }
    })
</script>