<div id="app">
    {{> header }}

    <main>
        <div class="container">
            <br>
            <h2 class="text-center" v-if="eventos.length > 0">Proximos Eventos</h2>
            <br>

            <div class="row">
                <div class="col-12 col-md-6" v-for="evento in eventos">
                    <div class="evento">
                        <div class="fecha" v-html="fecha(evento.fecha)">

                        </div>
                        <div class="row">
                            <div class="col-12 foto" :style="{backgroundImage: 'url(' + evento.imagen + ')'}">
                            </div>

                            <div class="col-12 desc">
                                <h3 class="text-center" v-text="evento.nombre"></h3>
                                <br>

                                <p v-text="evento.descripcion"></p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <h2 class="text-center" v-if="noticias.length > 1">Noticias</h2>
            <br>

            <div class="row">

            </div>
        </div>
    </main>

    {{> footer }}
</div>
<script>
    const vue = new Vue({
        el: '#app',
        data: {
            page: 'eventos',
            eventos: [],
            noticias: [],
            datos: {},
            session: {}
        },
        methods: {
            fecha(fecha){
                let mes = ''
                switch(fecha.substr(5, 2)){
                    case '01':
                        mes = 'ENE'
                        break;
                    case '02':
                        mes = 'FEB'
                        break;
                    case '03':
                        mes = 'MAR'
                        break;
                    case '04':
                        mes = 'ABR'
                        break;
                    case '05':
                        mes = 'MAY'
                        break;
                    case '06':
                        mes = 'JUN'
                        break;
                    case '07':
                        mes = 'JUL'
                        break;
                    case '08':
                        mes = 'AGO'
                        break;
                    case '09':
                        mes = 'SEP'
                        break;
                    case '10':
                        mes = 'OCT'
                        break;
                    case '11':
                        mes = 'NOV'
                        break;
                    case '12':
                        mes = 'DIC'
                        break;

                }
                return `
                        <h2>${fecha.substr(8, 2)}</h2>
                        <h4>${mes}</h4>`
            }
        },
        mounted(){
            axios.get('/API/eventos')
            .then(res => {
                let now = new Date()
                let fecha = `${now.getFullYear()}-${now.getMonth()}-${now.getDate()}`
                res.data.forEach(evento => {
                    if(new Date(evento.fecha) > now)
                        this.eventos.push(evento)
                })
            }).catch(error => {
                console.error(error)
            })

            axios.get('/API/datos')
            .then(res => {
                this.datos = res.data
                this.datos.telefonoConFormato = format(this.datos.telefono, 'tel')
            }).catch(error => {
                console.error(error)
            })

            cargarSesion()
        }
    })
</script>