<div id="app">
    {{> header }}

    {{> footer }}
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            page: 'inscripcion',
            datos: {}
        },
        mounted(){
            axios.get('/API/datos')
            .then(res => {
                this.datos = res.data
                this.datos.telefonoConFormato = format(this.datos.telefono, 'tel')
            }).catch(error => {
                console.error(error)
            })
        }
    })
</script>