<div id="login_container">
    <form id="login_form">
        <h3 class="text-center">Iniciar sesion</h3>
        <br>

        <label for="">Correo Electronico</label>
        <input type="email" class="form-control">
        <br><br>

        <label for="">Contraseña</label>
        <input type="password" class="form-control">
        <a href="#">Olvidaste tu contraseña?</a>
        <br>
        <br>

        <button class="btn btn-primary">Entrar</button>
    </form>
</div>