<main>
    <div id="login_container">
        <form id="login_form">
            <h3 class="text-center">Iniciar sesion</h3>
            <br>
            
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <input type="email" id="lf_email" class="form-control" placeholder="Correo Electronico">
                            <label for="lf_email">Correo Electronico</label>
                        </div>
                        <br>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <input type="password" id="lf_pass" class="form-control" placeholder="Contraseña">
                            <label for="lf_pass">Contraseña</label>
                        </div>
                        <a href="#">Olvidaste tu contraseña?</a>

                        <br>
                        <br>
                    </div>

                    <button class="btn btn-primary">Entrar</button>
                </div>
            </div>
        </form>
    </div>
</main>