<div id="app">
    {{> header }}

    <main>
        
    </main>

    {{> footer}}
</div>
<script>
    const vue = new Vue({
        el: '#app',
        data:{
            page: 'videos',
            datos: {},
            session: {}
        },
        mounted(){
            axios.get('/API/datos')
            .then(res => {
                this.datos = res.data
                this.datos.telefonoConFormato = format(this.datos.telefono, 'tel')
            }).catch(error => {
                console.error(error)
            })

            cargarSesion()
        }
    })
</script>