<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <h4>Contactanos</h4>
                <ul>
                    <li>
                        <i class="fa fa-map-marker-alt"></i>
                        <a :href="datos.location" v-text="datos.direccion" target="_blank"></a>
                    </li>
                    <br>
                    <li>
                        <i class="fa fa-phone"></i>
                        <a :href="'tel:' + datos.telefono" v-text="datos.telefonoConFormato"></a>
                    </li>
                    <br>
                    <li>
                        <i class="fa fa-envelope-open"></i>
                        <a :href="'mailto:' + datos.email" v-text="datos.email"></a>
                    </li>
                </ul>

                <br>
            </div>
            <div class="col-12 col-md-4">
                <h4>Siguenos</h4>

                <ul>
                    <li>
                        <a href="#" target="_blank">
                            <i class="fa fa-facebook-square"></i>
                            Facebook
                        </a>
                    </li>
                    <br>
                    <li>
                        <a href="#" target="_blank">
                            <i class="fa fa-facebook"></i>
                            Twitter
                        </a>
                    </li>
                    <br>
                    <li>
                        <a href="#" target="_blank">
                            <i class="fa fa-facebook"></i>
                            YouTube
                        </a>
                    </li>
                </ul>

                <br>
            </div>
            <div class="col-12 col-md-4">
                <h4>Suscribete a nuestro Newsletter</h4>
                <p>
                    Recibirás notificaciones sobre cualquier información de interés.
                </p>

                <form class="input-group newsletter"id="newsletter">
                    <input type="email" class="form-control" placeholder="Correo Electronico" required>
                    <div class="input-group-preppend">
                        <button class="input-group-text" type="submit">
                            <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                            Suscribir
                        </button>
                    </div>
                </form>

                <br>
            </div>
            <div class="col-12">
                <hr>
                <p class="text-center">
                    &copy; Copyright 2019
                    <br>
                    All rights reserved. Powered by <a href="https://binardom.com" target="_blank">BINAR</a>
                </p>
            </div>
        </div>
    </div>
</footer>