<footer>
    <h2>TAEKWONDO</h2>
    <h1>SCHOOL</h1>

    <p class="text-center">
        C/Calle #00, Algun lugar, al lado de algun sitio.
        <br>
        Tel:. (809) - 000 - 0000 / (829) - 000 - 0000
        <br>
        taekwondoschool@@gmail.com 
    </p>
</footer>