<header id="main_menu">
    <ul id="desktop" class=".d-none .d-sm-block">
        <li><a href="/" class="active">INICIO</a></li>
        <li><a href="/sobre_nosotros">SOBRE NOSOTROS</a></li>
        <li><a href="/videos">VIDEOS</a></li>
        <li><a href="/eventos">EVENTOS</a></li>
        <li><a href="/consultas">CONSULTAS</a></li>
        <li><a href="/ingresos">INGRESOS</a></li>
        <li><a href="/inscripcion">INSCRIPCION</a></li>
    </ul>
</header>