<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Taekwondo</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">

    <script src="/js/swal2.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/vue.dev.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/funciones.js"></script>
</head>
<body>
    {{{ body }}}

    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
        document.querySelector('#FLogin').addEventListener('submit', function(e){
            e.preventDefault()
            let datos = serialize(this)
            axios.post('/API/usuarios/login', datos)
            .then(res => {
                if(true != res.data){
                    alert(res.data)
                }else
                    alert('Login correcto')
            }).catch(error => {
                console.log(error)
            })
        })
    </script>
</body>
</html>